<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="details-container">
        <h2><%= blog.title %></h2>
        <p><%= blog.body %></p>
        <button class="delete" data-doc="<%= blog._id %>">Delete</button>
    </div>
    
    <%- include('./partials/footer.ejs') %>

    <script>
        const trashcan = document.querySelector(' .delete');
        trashcan.addEventListener('click', (e) => {
            const endpoint = `/${trashcan.dataset.doc}`;
            //console.log(endpoint);

            fetch(endpoint, {
                method: "DELETE"
            })
            .then(response => response.json())
            .then(data => window.location.href = data.redirect)
            .catch(err => console.log(err));
        });
    </script>

</body>
</html>